@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.container {
  padding: 30px 0;
  margin: 0 10px;
}

.commands-mic {
  text-align: center;
  background-color: #f7f7f9;
  padding: 0.7em 0;
}
.mic {
  height: 60px;
  width: 60px;
  padding: 15px;
  border-radius: 50%;
  background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);
}

.command-header {
  margin: 15px auto 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #292928;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.commands .commands-list p {
  text-align: center;
  margin: 10px;
  background-color: #f7f7f9;
}
.commands .commands-list .command-col {
  background-color: #f7f7f9;
  border: 0.25px#bdbdbd;
  border-style: dashed;
}
.ant-tabs-extra-content {
  display: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    margin: 0 20px;
  }
  .ant-tabs-extra-content {
    display: inherit;
  }
  .category {
    padding-right: 10px;
  }
  .language {
    padding-left: 10px;
  }
}

@media (min-width: 992px) {
  .grid-5-col {
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
    height: auto;
  }
}
